---
---

@import "portfolYOU";

$primary:#4D7C8A;
$secondary:#463730;
$success:#758e4f;
$danger:#dc3545;
$info:#17a2b8;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#343a40;

.btn-outline-primary {
   color: $primary;
   border-color: $primary;

}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
   color: #fff;
   background-color: $primary;
   border-color: $primary;
   
}

.bg-primary {
   background-color: $primary !important;
}

.border-primary {
   border-bottom-color: $primary !important;
   border-top-color: $primary !important;
   border-left-color: $primary !important;
   border-right-color: $primary !important;
}

.badge-primary {
   background-color: $primary !important;
}

:focus {
     outline: $primary auto 1px !important;
}

.badge-pill {
   background-color: $primary !important;
   color: #FFF !important;
}

a {
   color: $primary;
}
